# Built front assets dir
front/assets/js/*

# Build back assets dir
dist

# Allow for commiting a directory but not its contents
!**/.keepme

node_modules
# Don't need to see yarn's problems in my repo
yarn-error.log

