.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.viewer {
  display: block;
  margin: 10px auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.video {
  margin: -50px auto 10px;
  display: block;
}

.spacer{
  height: 15px;
}
